* {
    background-color: white;
    /* border: 1px solid gray; */
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;

}
h1 {
    text-align: center;
    padding: 1em;
    background-color: forestgreen;
}
nav {
    padding: 1em;
    background-color: aqua;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}
nav a {
    /* font-style: none; */
    color: black;
    background-color: aqua;

}
input {
    background-color: lightgray;
    color: gray;
    border-radius: .25em;
    height: 1em;
    width: 10em;
}

input[type="submit"] {
    color: black;
    height: 2em;
    width: 15em;
}



/* input[type="checkbox"] {
    vertical-align: middle;
} */

/* .newInputForm {
    color: gray;
    border: 1px solid gray;

    text-align: 
} */

.inputForm {
    display: flex;
    flex-direction: column;
    justify-items: right;
}
.newCheckBox {
    display: inline;
    height: 2em;
    width: 2em;
}
.newSubmit {
    color: black;
    height: 2em;
    width: 10em;
}
.indexPlantName {
    background-color: white;
}

.indexPlantImg {
    width: 100%;
}
.indexAllPlants {
    background-color: tan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.indexSinglePlant {
    background: white;
    border: 1px solid black;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    /* box-sizing: border-box; don't use this*/
}
.indexPlantButtonForm {
    background-color: white;
    /* display: inline; */
}
.indexPlantButton {
    background-color: goldenrod;
    /* height: 1em; */
    /* width: 1em; */
}
.showImg { /* still have some pics showing with weird proportions..check out geodude */
    width: 100%;
}
.showPlant {
    background: white;
    border: 1px solid black;
    width: 90vw;
    /* width: 25rem;
    height: 25rem; */
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}